@tailwind base;
@tailwind components;
@tailwind utilities;

.heroheight{
    height: 100vh;
}

.menuheight{
    height: 160vh;
    width: 100%;
}

.storyheight{
    height: 30vh;
    width: 100%;
}



/* button[type='submit'], .submit{



} */